{% extends "base.html" %}

{% block page_content %}

<div class="jumbotron">
                <div class="container">
                    <div class="jumbotron">
                      <h1>Hello, world!</h1>
                      <p>This is my login test! </p>
                      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                    </div>
                    </div>
                </div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-10">
        <div class="form-group form-group-lg">
        {% if error %}
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Error:</strong>{{ error }}
        </div>
        {% endif %}
            </div>
        </div>
</div>
    </div>
{% endblock %}
