{% extends "bootstrap/base.html" %}

{% block title %}Lmy's Bookstore{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse container">
        <div class="navbar-header"> <a class="navbar-brand" href="{{ url_for('show_book_list') }}">Bookstore</a> </div>
        <!-- logout links -->
        {% if "logged_in" in session %}
        <ul class="nav navbar-nav pull-right">
            <li><a class="btn" href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    {% endif %}
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <!-- flash message -->
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">close</span></button>
            {{ message }}
        </div>
        {% endfor %}

        <!-- body block -->
        {% block page_content %} {% endblock %}
    </div>
{% endblock %}
