{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Bookstore - Modify{% endblock %}

{% block page_content %}

<table class="table table-hover">
    <thead>
        <th class="active">Num</th>
        <th class="active">图书名称</th>
        <th class="active">图书价格</th>
        <th class="active">创建时间</th>
        <th class='active'>操作</th>
    </thead>
    <tbody>
        {% for book in book_list %}

            <!-- tr -->
            <tr class="success">
                <td>{{ loop.index }}</td>
                <td>{{ book['book_name'] }}</td>
                <td>{{ book['book_price'] }}</td>
                <td>{{ book['create_time'] }}</td>
                <td> <a href="{{ url_for('delete_book_list', id=book['id']) }}" class="btn btn-danger" role ="button">删除</a>
                     <button class="btn btn-success" data-toggle="modal" data-target="#myModal" id=book['id']) >修改</button>
{#                    <a href="{{ url_for('modify_book_list', id=book['id']) }}" role ="button" class="btn btn-success"#}
{#                        data-toggle="modal" data-target="#myModal">修改</a>#}
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg"> 增加 </button>

    <!-- Modal -->


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog"> <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel" align="center">修改一本图书</h4>
      </div>

      <div class="modal-body">
          <div class="row">
              <div class="col-md-8 col-md-offset-2"> {{ wtf.quick_form(form) }} </div>
          </div>
      </div> <!-- modal body -->

    </div> </div>
</div>


{% endblock %}

