{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Bookstore - Register{% endblock %}

{% block page_content %}
<div class="page-header" style="text-align: center">
    <h1>请注册</h1>

<div class="row">
    <div class=class="col-md-6 col-md-offset-3 col-sm-10">
        <div class="form-group form-group-lg">
            <div class="col-md-8 col-md-offset-2"> {{ wtf.quick_form(form) }} </div>
        </div>
    </div>
</div>

{% endblock %}
